-Encrypted Email - Phone - Adresse
-Age - Quantity (abs)
-rating_customer is null --> 0
-quantity=0 delete
-

# get the data from the api

In [210]:
from datetime import datetime

In [221]:
import pandas as pd
import requests

# Lien vers les données
url = "http://127.0.0.1:5000/data"

# Récupérer les données depuis l'URL
response = requests.get(url)
data = response.json()

# Extraire les données de la clé 'donnees' dans un DataFrame
dfapi = pd.read_json(data['donnees'])

In [217]:
dfapi.head()

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,StockLevel,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer
0,Jasmine Woodward,Jasmine_Woodward@maroc.ma,200.966.4632x9790,98174 Tommy View Apt. 567,27,Female,Andorra,Bronze,Materials and Chemicals,Biodegradable Packaging,...,4006,150,2024-01-10,China WH,China,"Vaughn, Smith and Tucker",642.749.5240,USA,1.17,1.0
1,Ross Anderson,Ross_Anderson@hotmail.com,591-477-0096,4315 Wilson Lodge Suite 855,49,Female,Angola,Bronze,Energy,Biofuels,...,4008,150,2024-01-10,Japan WH,Japan,"Brown, Hill and Lopez",479.628.1490,Turkey,3.40,2.0
2,Jose Farmer,Jose_Farmer@hotmail.com,348.447.7311x80232,2272 Dawn Estate Suite 301,42,Female,Georgia,Silver,Food and Beverages,Organic Food,...,4005,150,2024-01-10,China WH,China,Martin-Hill,+1-933-975-4533x75615,Turkey,3.33,2.0
3,Bryan Scott,Bryan_Scott@space.net,240.827.1087x629,068 Alicia Plains Apt. 973,-29,Female,Micronesia,Gold,Pharmaceuticals,Biopharmaceuticals,...,3996,150,2024-01-10,China WH,China,Kim LLC,790-481-0502x312,USA,4.72,NaN
4,Kenneth Sullivan,Kenneth_Sullivan@outlook.fr,516-217-8423x526,006 Monroe Dale Apt. 052,-46,Female,Sudan,Bronze,Food and Beverages,Organic Food,...,4005,150,2024-01-10,China WH,China,Richmond Ltd,001-754-894-3964x960,France,4.44,4.0

# -----------------------------------------------------------

# get data from database in sql server

In [175]:
# import pandas as pd
# import pyodbc

# # Define your database connection parameters
# server = 'localhost'
# database = 'PFR_Data'
# username = 'yassine'
# password = '123@123'

# # Create a connection string
# connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# # Specify the number of rows to retrieve in each batch
# batch_size = 2000

# # Specify the file to store the last retrieved row number
# last_row_file = 'last_row.txt'

# # Read the last retrieved row number from the file or set it to 0 if the file doesn't exist
# try:
#     with open(last_row_file, 'r') as file:
#         last_row = int(file.read().strip())
# except FileNotFoundError:
#     last_row = 0

# # Calculate the starting row for the batch
# start_row = last_row + 1

# # Construct the SQL query to select the desired rows
# sql_query = f'SELECT * FROM (SELECT *, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS row_num FROM data) AS t WHERE row_num BETWEEN {start_row} AND {start_row + batch_size - 1}'

# # Establish a connection to the database
# connection = pyodbc.connect(connection_string)

# # Execute the query and fetch the data into a DataFrame
# dfdb = pd.read_sql_query(sql_query, connection)

# # Close the database connection
# connection.close()

# # Update the last retrieved row number in the file
# with open(last_row_file, 'w') as file:
#     file.write(str(start_row + batch_size - 1))

C:\Users\Youcode\AppData\Local\Temp\ipykernel_17008\3183493661.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdb = pd.read_sql_query(sql_query, connection)

In [3]:
dfdb.head()

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer,row_num
0,Christopher Richards,Christopher_Richards@youcode.ma,(402)458-3120,051 Jennifer Pines,29,Female,Madagascar,Gold,Food and Beverages,Organic Food,...,100,2023-08-08,Turkey WH,Turkey,"Ortiz, Gonzales and Velasquez",+1-369-876-1895x9049,France,1.26,2,4001
1,Brittany Roberts,Brittany_Roberts@maroc.ma,+1-999-675-5375x055,844 April Mission Apt. 504,-82,Male,Cocos (Keeling) Islands,Gold,Energy,Biomass,...,100,2023-08-08,Turkey WH,Turkey,Mcdonald-Castillo,936.468.9933x95213,France,1.44,3,4002
2,Lauren Gonzalez,Lauren_Gonzalez@hotmail.com,(970)750-5480,6172 Baker Points Suite 315,-23,Female,Armenia,Silver,Materials and Chemicals,Bioplastics,...,100,2023-08-08,Japan WH,Japan,Smith-Montgomery,(646)491-8558,USA,1.29,,4003
3,Gina Velasquez,Gina_Velasquez@outlook.fr,001-623-649-7597x6181,0868 Perez Shore,39,Male,Guyana,Bronze,Materials and Chemicals,Bioplastics,...,100,2023-08-08,Turkey WH,Turkey,Davis Ltd,001-909-461-4215,Turkey,4.32,4,4004
4,Joseph York,Joseph_York@outlook.fr,807-877-8589,1725 Susan Avenue Apt. 202,-85,Female,Netherlands Antilles,Gold,Materials and Chemicals,Biodegradable Packaging,...,100,2023-08-08,Turkey WH,Turkey,Monroe-Schneider,8795246315,Turkey,4.41,3,4005

# get the data from the json files

In [222]:
# Get the current date in the format you specified
date_now = datetime.now().strftime("%Y%m%d")
file_name = f"C:\\Users\\Youcode\\Desktop\\descktop\\PFR\\data\\raw\\ecom_data_{date_now}.json"

# Read the JSON file using pandas
dfjson = pd.read_json(file_name, lines=True)

In [220]:
dfjson.sample(20)

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,StockLevel,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer
630,Douglas Williams,Douglas_Williams@maroc.ma,340.647.4016x16524,62244 Kaitlyn Tunnel,-14,Male,Martinique,Bronze,Food and Beverages,Organic Food,...,4001,150,2024-01-10,China WH,China,Bowen Inc,(625)255-8016x1271,France,3.84,5
467,Danielle Sherman,Danielle_Sherman@gmail.com,+1-377-425-3694x00945,70232 Smith Streets Suite 421,-67,Male,Andorra,Silver,Food and Beverages,Organic Food,...,3999,150,2024-01-10,Turkey WH,Turkey,Holmes-Parrish,+1-254-920-3719x65948,Turkey,3.27,3
1321,Ronald Perry,Ronald_Perry@yopmail.com,3599473783,59353 Vaughan Run,-52,Female,Paraguay,Silver,Pharmaceuticals,Biopharmaceuticals,...,4003,150,2024-01-10,China WH,China,Jordan and Sons,+1-307-922-0464,France,4.56,5
1041,Jason Richardson,Jason_Richardson@space.net,567-344-5008,526 Kristina Lock,23,Female,Sweden,Gold,Food and Beverages,Organic Food,...,3999,150,2024-01-10,China WH,China,Preston-Nolan,(501)429-8298,France,3.75,4
1236,Richard Foster,Richard_Foster@gmail.com,(774)484-5322,7420 Linda Glens Apt. 464,44,Male,Oman,Bronze,Food and Beverages,Organic Food,...,3998,150,2024-01-10,China WH,China,Scott-Wong,304.768.2951x80816,China,2.78,3
1526,Donna Cook,Donna_Cook@hotmail.com,896-301-7688x85051,978 Charles Trail Apt. 209,-24,Male,Azerbaijan,Gold,Energy,Biofuels,...,3990,150,2024-01-10,Japan WH,Japan,Willis-Wilson,983.759.8707x99589,USA,4.64,4
606,Charles Smith,Charles_Smith@maroc.ma,(782)468-6394,6749 Brian Cliff,77,Female,Cote d'Ivoire,Gold,Energy,Biomass,...,3999,150,2024-01-10,China WH,China,Washington LLC,(376)427-3543x97637,Colombia,1.37,4
1620,Kari Stewart,Kari_Stewart@yopmail.com,397.764.0429,415 Pena Rue,35,Male,Lesotho,Bronze,Materials and Chemicals,Biodegradable Packaging,...,3993,150,2024-01-10,Japan WH,Japan,Joseph-Wu,(211)455-0208x54281,France,4.88,1
1265,Amber Humphrey,Amber_Humphrey@hotmail.com,892.841.2814x5961,838 Emily Trail Apt. 327,36,Male,Seychelles,Gold,Materials and Chemicals,Biodegradable Packaging,...,4001,150,2024-01-10,Japan WH,Japan,Nielsen Ltd,489.640.9533x7897,Colombia,1.21,2
1291,Katherine Smith,Katherine_Smith@maroc.ma,567.332.1180x0702,58672 Kelley Overpass Suite 898,65,Male,Saint Martin,Gold,Agriculture,Biopesticides,...,4005,150,2024-01-10,China WH,China,"Hoover, Collins and Butler",+1-639-572-8490x949,Colombia,2.94,3
891,Sandra Johnson,Sandra_Johnson@space.net,(297)677-2131x266,518 Linda Throughway,64,Female,Spain,Bronze,Pharmaceuticals,Biopharmaceuticals,...,3993,150,2024-01-10,Turkey WH,Turkey,Marquez and Sons,(288)615-7284x7473,China,1.69,2
0,Peter Henry,Peter_Henry@gmail.com,467.604.9231x07237,871 Rice Fork,35,Male,Brazil,Silver,Energy,Biofuels,...,3993,150,2024-01-10,China WH,China,Williams and Sons,+1-261-256-2848,France,2.32,1
400,Crystal Glenn,Crystal_Glenn@hotmail.com,001-852-868-4825x859,037 Gutierrez Road Apt. 051,15,Male,Seychelles,Silver,Food and Beverages,Plant-Based Meat Alternatives,...,3992,150,2024-01-10,Japan WH,Japan,Smith Ltd,(917)633-1281x3984,Colombia,4.58,4
808,Robin Small,Robin_Small@hotmail.com,(706)591-3634x591,6134 York Square,-17,Female,Panama,Bronze,Food and Beverages,Organic Food,...,3999,150,2024-01-10,Turkey WH,Turkey,"Lara, Thompson and Bell",+1-215-920-3117x0556,France,3.03,2
948,Nicholas Moreno,Nicholas_Moreno@yopmail.com,(812)233-2071,11423 Johnny Trail Apt. 673,-57,Female,Jersey,Gold,Agriculture,Biopesticides,...,4005,150,2024-01-10,Turkey WH,Turkey,Carter-Rangel,(341)370-4134x768,China,2.30,3
767,Katherine Hunter,Katherine_Hunter@hotmail.com,721-927-1268,28874 Debra Haven,51,Female,Hungary,Gold,Energy,Biomass,...,3991,150,2024-01-10,Japan WH,Japan,Miles-Wolf,001-869-514-9302x0030,France,1.07,1
35,Lynn Peters,Lynn_Peters@hotmail.com,001-655-962-4604x6896,617 Elliott Pines,-57,Male,Slovakia (Slovak Republic),Gold,Pharmaceuticals,Biopharmaceuticals,...,4007,150,2024-01-10,Turkey WH,Turkey,Reid Group,971-970-0342x05905,Colombia,3.00,
1206,Anna Hart,Anna_Hart@yopmail.com,001-470-282-5995x2868,245 Anderson Lodge Suite 153,18,Female,Lesotho,Silver,Materials and Chemicals,Bioplastics,...,3991,150,2024-01-10,China WH,China,"Allen, Baker and Sanchez",903.792.6934x808,USA,3.36,1
1595,Leslie Price,Leslie_Price@outlook.fr,(795)474-7774,9636 Erin Roads,-84,Male,Tunisia,Silver,Energy,Biofuels,...,4007,150,2024-01-10,Japan WH,Japan,"Johnson, Riddle and Oconnor",(269)296-7537x27213,China,3.06,5
1920,Ariana Grant,Ariana_Grant@yopmail.com,(910)619-2955x394,1352 Anderson Estate,53,Male,Russian Federation,Silver,Energy,Biofuels,...,4009,150,2024-01-10,Japan WH,Japan,"Taylor, Johnson and Campbell",001-603-229-9373x24126,Turkey,3.26,3

------------------------------------------------------------

# merge dataframes

In [176]:
dfdb = dfdb.drop("row_num", axis=1)

In [223]:
dfapi = dfapi.rename(columns={"Payment": "Payement"})

In [224]:
dfjson = dfjson.rename(columns={"Payment": "Payement"})

In [225]:
dfapi = dfjson.rename(columns={"Shipping Costs": "Shipping_Costs"})

In [226]:
dfjson = dfjson.rename(columns={"Shipping Costs": "Shipping_Costs"})

In [227]:
df = pd.concat([dfapi, dfdb, dfjson], ignore_index=True)

In [228]:
# Valeur absolue dans les colonnes Age et Quantity
df['Age'] = df['Age'].abs()
df['Quantity'] = df['Quantity'].abs()

In [229]:
# Remplacer les valeurs nulles dans la colonne rating_customer par 0
df['rating_customer'].fillna(0, inplace=True)

In [230]:
# Supprimer les lignes où la valeur dans la colonne Quantity est égale à 0
df = df[df['Quantity'] != 0]

In [60]:
# Sauvegarder le nouveau dataset
# df.to_csv('data_transformed.csv', index=False)

In [14]:
# import pandas as pd
from cryptography.fernet import Fernet
import base64
from cryptography.hazmat.primitives import hashes
from cryptography.hazmat.primitives.kdf.pbkdf2 import PBKDF2HMAC

# Encrypt a value using the key
def encrypt_value(value, key):
    encrypted_value = key.encrypt(value.encode())
    return encrypted_value.decode()

# Encrypt the columns
def encrypt_columns(df, columns, key):
    for column in columns:
        df[column] = df[column].apply(lambda x: encrypt_value(str(x), key))
    return df

# Decrypt a value using the key
def decrypt_value(value, key):
    decrypted_value = key.decrypt(value.encode())
    return decrypted_value.decode()

# Decrypt the columns
def decrypt_columns(df, columns, key):
    for column in columns:
        df[column] = df[column].apply(lambda x: decrypt_value(x, key))
    return df

# Example usage
password = "123@123"
salt = b'\x07\xd1\x85\xeb\x1b\xad`a\xd5\xdd\x11\x11\x9c\x0e\xb0'

# Derive the key from the password and salt
kdf = PBKDF2HMAC(
    algorithm=hashes.SHA256(),
    length=32,
    salt=salt,
    iterations=100000
)
key = base64.urlsafe_b64encode(kdf.derive(password.encode()))

# Create an instance of the Fernet cipher using the key
cipher_suite = Fernet(key)

# Encrypt the columns
columns_to_encrypt = ['Customer_Name','Email', 'Phone', 'Adresse']
encrypted_df = encrypt_columns(df, columns_to_encrypt, cipher_suite)

In [22]:
# # Decrypt the columns
# def decrypt_dataframe(df, columns, key):
#     decrypted_df = df.copy()
#     for column in columns:
#         decrypted_df[column] = decrypted_df[column].apply(lambda x: decrypt_value(x, key))
#     return decrypted_df

# decrypted_df = decrypt_dataframe(encrypted_df, columns_to_encrypt, cipher_suite)

# df = decrypted_df

# Loading datafram into my database in sql server

In [119]:
import pandas as pd
import pyodbc

# Define your database connection parameters
server = 'LAPTOP-QJ16KG8Q\SQLEXPRESS'
database = 'PFR_Data'
username = 'yassine'
password = '123@123'

# Create a connection string
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};'

# Connect to the database
conn = pyodbc.connect(conn_str)

# Create a cursor from the connection
cursor = conn.cursor()

In [190]:
# Deduplicate and insert data into Dim_Shipping
df_unique_shipping = df[['Shipping_Method', 'Shipper']].drop_duplicates()

# insert data into Dim_Shipping
cursor.executemany('INSERT INTO Dim_Shipping (Shipping_Method, Shipper) VALUES (?, ?)',
                   df_unique_shipping.values.tolist())

# Deduplicate and insert data into Dim_Date
df_unique_date = df[['Date_Order']].drop_duplicates()

# insert data into Dim_Date
cursor.executemany('INSERT INTO Dim_Date (Date_) VALUES (?)',
                   df_unique_date.values.tolist())

# Deduplicate and insert data into Dim_Customer
df_unique_customer = df[['Customer_Name', 'Age', 'Gender', 'Location', 'Customer_Segment', 'Email', 'Phone', 'Adresse', 'Payement']].drop_duplicates()

# Insert data with parameterized query to handle null values
cursor.executemany("""
    INSERT INTO Dim_Customer (Customer_Name, Age, Gender, Location, Customer_Segment, Email, Phone, Adresse, Payement)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
""", df_unique_customer.values.tolist())

# Deduplicate and insert data into Dim_Product
df_unique_product = df[['Product', 'Category', 'Subcategory']].drop_duplicates()

# Insert data with parameterized query to handle null values
cursor.executemany("""
    INSERT INTO Dim_Product (Product, Category, Subcategory)
    VALUES (?, ?, ?)
""", df_unique_product.values.tolist())

# Deduplicate and insert data into Dim_Supplier
df_unique_supplier = df[['Location_Supplier', 'Supplier_Name', 'Supplier_Phone', 'Quality_Score']].drop_duplicates()

# Insert data with parameterized query to handle null values
cursor.executemany("""
    INSERT INTO Dim_Supplier (Location_Supplier, Supplier_Name, Supplier_Phone, Quality_Score)
    VALUES (?, ?, ?, ?)
""", df_unique_supplier.values.tolist())

# Deduplicate and insert data into Dim_Warehouse
df_unique_warehouse = df[['Warehouse_Name', 'Location_warehouse']].drop_duplicates()

# Insert data with parameterized query to handle null values
cursor.executemany("""
    INSERT INTO Dim_Warehouse (Warhouse_Name, Location_warehouse)
    VALUES (?, ?)
""", df_unique_warehouse.values.tolist())

In [192]:
# Insert data into Fact_Sales
for row in df.itertuples():
    # Perform queries to get foreign key values
    # Note: Replace the following queries with your actual SQL queries to fetch the corresponding foreign key values
    cursor.execute("SELECT Id_Customer FROM Dim_Customer WHERE Customer_Name = ?", (row.Customer_Name,))
    customer_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Date FROM Dim_Date WHERE Date_ = ?", (row.Date_Order,))
    date_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Product FROM Dim_Product WHERE Product = ?", (row.Product,))
    product_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Shipping FROM Dim_Shipping WHERE Shipping_Method = ? AND Shipper = ?", (row.Shipping_Method, row.Shipper))
    shipping_id = cursor.fetchone()[0]

    # Insert data into Fact_Sales
    cursor.execute("""
        INSERT INTO Fact_Sales (Id_Customer, Id_Date_Order, Id_Product, Id_Shipping, Price, Quantity, Weight, Tax_5_percent, Shipping_Costs, Rating)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (customer_id, date_id, product_id, shipping_id, row.Price, row.Quantity, row.Weight, row.Tax_5_percent, row.Shipping_Costs, row.rating_customer))

In [196]:
# # Deduplicate Inventory_id in the DataFrame
# df_deduplicated = df.drop_duplicates(subset=['Inventory_id'])

# # Drop existing entries with deduplicated Inventory_id from Fact_Inventory table
# for inventory_id in df_deduplicated['Inventory_id']:
#     cursor.execute("DELETE FROM Fact_Inventory WHERE Inventory_id = ?", (inventory_id,))

In [197]:
# Insert deduplicated data into Fact_Inventory
for row in df_deduplicated.itertuples():
    # Perform queries to get foreign key values
    cursor.execute("SELECT Id_Supplier FROM Dim_Supplier WHERE Supplier_Name = ?", (row.Supplier_Name,))
    supplier_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Date FROM Dim_Date WHERE Date_ = ?", (row.Last_Restock_Date,))
    restock_date_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Product FROM Dim_Product WHERE Product = ?", (row.Product,))
    product_id = cursor.fetchone()[0]

    cursor.execute("SELECT Id_Warehouse FROM Dim_Warehouse WHERE Warhouse_Name = ?", (row.Warehouse_Name,))
    warehouse_id = cursor.fetchone()[0]

    # Insert data into Fact_Inventory
    cursor.execute("""
        INSERT INTO Fact_Inventory (Inventory_id, Id_Supplier, Id_Restock_Date, Id_Product, Id_Warehouse, StockLevel, Restock_Threshold)
        VALUES (?, ?, ?, ?, ?, ?, ?)
    """, (row.Inventory_id, supplier_id, restock_date_id, product_id, warehouse_id, row.StockLevel, row.Restock_Threshold))

In [231]:
# Upsert data into Dim_Customer
cursor.execute("""
    MERGE INTO Dim_Customer AS target
    USING (
        SELECT DISTINCT
            Customer_Name,
            Age,
            Gender,
            Location,
            Customer_Segment,
            Email,
            Phone,
            Adresse,
            Payement
        FROM Dim_Customer
    ) AS source
    ON target.Customer_Name = source.Customer_Name
    WHEN NOT MATCHED THEN
        INSERT (
            Customer_Name,
            Age,
            Gender,
            Location,
            Customer_Segment,
            Email,
            Phone,
            Adresse,
            Payement
        ) VALUES (
            source.Customer_Name,
            source.Age,
            source.Gender,
            source.Location,
            source.Customer_Segment,
            source.Email,
            source.Phone,
            source.Adresse,
            source.Payement
        );
""")

# Upsert data into Dim_Product
cursor.execute("""
    MERGE INTO Dim_Product AS target
    USING (
        SELECT DISTINCT
            Product,
            Category,
            Subcategory
        FROM Dim_Product
    ) AS source
    ON target.Product = source.Product
    WHEN NOT MATCHED THEN
        INSERT (
            Product,
            Category,
            Subcategory
        ) VALUES (
            source.Product,
            source.Category,
            source.Subcategory
        );
""")

# Upsert data into Dim_Supplier
cursor.execute("""
    MERGE INTO Dim_Supplier AS target
    USING (
        SELECT DISTINCT
            Location_Supplier,
            Supplier_Name,
            Supplier_Phone,
            Quality_Score
        FROM Dim_Supplier
    ) AS source
    ON target.Supplier_Name = source.Supplier_Name
    WHEN NOT MATCHED THEN
        INSERT (
            Location_Supplier,
            Supplier_Name,
            Supplier_Phone,
            Quality_Score
        ) VALUES (
            source.Location_Supplier,
            source.Supplier_Name,
            source.Supplier_Phone,
            source.Quality_Score
        );
""")

# Upsert data into Dim_Warehouse
cursor.execute("""
    MERGE INTO Dim_Warehouse AS target
    USING (
        SELECT DISTINCT
            Warhouse_Name,
            Location_warehouse
        FROM Dim_Warehouse
    ) AS source
    ON target.Warhouse_Name = source.Warhouse_Name
    WHEN NOT MATCHED THEN
        INSERT (
            Warhouse_Name,
            Location_warehouse
        ) VALUES (
            source.Warhouse_Name,
            source.Location_warehouse
        );
""")

In [234]:
# Upsert data into Fact_Sales
cursor.execute("""
    MERGE INTO Fact_Sales AS target
    USING (
        SELECT 
            c.Id_Customer,
            d.Id_Date,
            p.Id_Product,
            s.Id_Shipping,
            MAX(f.Price) AS Price,
            MAX(f.Quantity) AS Quantity,
            MAX(f.Weight) AS Weight,
            MAX(f.Tax_5_percent) AS Tax_5_percent,
            MAX(f.Shipping_Costs) AS Shipping_Costs,
            MAX(f.Rating) AS Rating
        FROM Fact_Sales f
            JOIN Dim_Customer c ON f.Id_Customer = c.Id_Customer
            JOIN Dim_Date d ON f.Id_Date_Order = d.Id_Date
            JOIN Dim_Product p ON f.Id_Product = p.Id_Product
            JOIN Dim_Shipping s ON f.Id_Shipping = s.Id_Shipping
        GROUP BY
            c.Id_Customer,
            d.Id_Date,
            p.Id_Product,
            s.Id_Shipping
    ) AS source
    ON target.Id_Customer = source.Id_Customer
    AND target.Id_Date_Order = source.Id_Date
    AND target.Id_Product = source.Id_Product
    AND target.Id_Shipping = source.Id_Shipping
    WHEN MATCHED THEN
        UPDATE SET
            Price = source.Price,
            Quantity = source.Quantity,
            Weight = source.Weight,
            Tax_5_percent = source.Tax_5_percent,
            Shipping_Costs = source.Shipping_Costs,
            Rating = source.Rating
    WHEN NOT MATCHED THEN
        INSERT (
            Id_Customer,
            Id_Date_Order,
            Id_Product,
            Id_Shipping,
            Price,
            Quantity,
            Weight,
            Tax_5_percent,
            Shipping_Costs,
            Rating
        ) VALUES (
            source.Id_Customer,
            source.Id_Date,
            source.Id_Product,
            source.Id_Shipping,
            source.Price,
            source.Quantity,
            source.Weight,
            source.Tax_5_percent,
            source.Shipping_Costs,
            source.Rating
        );
""")

In [235]:
# Upsert data into Fact_Inventory
cursor.execute("""
    MERGE INTO Fact_Inventory AS target
    USING (
        SELECT 
            s.Id_Supplier,
            d.Id_Date,
            p.Id_Product,
            w.Id_Warehouse,
            f.Inventory_id,
            f.StockLevel,
            f.Restock_Threshold
        FROM
            Fact_Inventory f
            JOIN Dim_Supplier s ON f.Id_Supplier = s.Id_Supplier
            JOIN Dim_Date d ON f.Id_Restock_Date = d.Id_Date
            JOIN Dim_Product p ON f.Id_Product = p.Id_Product
            JOIN Dim_Warehouse w ON f.Id_Warehouse = w.Id_Warehouse
    ) AS source
    ON target.Id_Supplier = source.Id_Supplier
    AND target.Id_Restock_Date = source.Id_Date
    AND target.Id_Product = source.Id_Product
    AND target.Id_Warehouse = source.Id_Warehouse
    WHEN NOT MATCHED THEN
        INSERT (
            Id_Supplier,
            Id_Restock_Date,
            Id_Product,
            Id_Warehouse,
            Inventory_id,
            StockLevel,
            Restock_Threshold
        )
        VALUES (
            source.Id_Supplier,
            source.Id_Date,
            source.Id_Product,
            source.Id_Warehouse,
            source.Inventory_id,
            source.StockLevel,
            source.Restock_Threshold
        )
    WHEN MATCHED THEN
        UPDATE SET
            StockLevel = source.StockLevel,
            Restock_Threshold = source.Restock_Threshold;
""")

In [239]:
# Commit the changes and close the connection
conn.commit()

In [240]:
conn.close()

In [134]:
df['Last_Restock_Date']= pd.to_datetime(df['Last_Restock_Date'])

In [237]:
uniquedates = df['Date_Order'].unique().tolist()
uniquedates

['2024-01-23',
 '2024-01-20',
 '2024-01-22',
 '2024-01-19',
 '2024-01-21',
 '2024-01-17',
 '2024-01-18']

In [238]:
uniquedates = df['Last_Restock_Date'].unique().tolist()
uniquedates

['2023-03-03']