-Encrypted Email - Phone - Adresse
-Age - Quantity (abs)
-rating_customer is null --> 0
-quantity=0 delete
-

# get the data from the api

In [1]:
from datetime import datetime

In [2]:
import pandas as pd
import requests

# Lien vers les données
url = "http://127.0.0.1:5000/data"

# Récupérer les données depuis l'URL
response = requests.get(url)
data = response.json()

# Extraire les données de la clé 'donnees' dans un DataFrame
dfapi = pd.read_json(data['donnees'])

In [3]:
dfapi.head()

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,StockLevel,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer
0,Richard Jackson,Richard_Jackson@youcode.ma,001-458-962-6489x3985,076 Salazar Key,26,Female,Bangladesh,Gold,Food and Beverages,Organic Food,...,3990,150,2023-09-15,Turkey WH,Turkey,Mora LLC,+1-499-486-2898x022,Turkey,3.16,1.0
1,Amanda Hill,Amanda_Hill@yopmail.com,619-714-5904x58792,490 Hensley Street,-54,Male,Bangladesh,Gold,Energy,Biofuels,...,4002,150,2023-09-15,China WH,China,Newman LLC,(959)269-9363x69403,France,1.39,3.0
2,Heidi Lee,Heidi_Lee@maroc.ma,839-446-7815x00092,394 Daniel Coves Apt. 274,49,Male,Uganda,Bronze,Materials and Chemicals,Bioplastics,...,4005,150,2023-09-15,Turkey WH,Turkey,Stewart Group,558.932.3319,Colombia,2.52,3.0
3,Kathryn Ellis,Kathryn_Ellis@outlook.fr,(848)445-5065,794 Steven Plains Suite 251,-1,Female,Lesotho,Gold,Pharmaceuticals,Biopharmaceuticals,...,3994,150,2023-09-15,Turkey WH,Turkey,Norris Ltd,+1-944-661-3848x1601,France,3.44,1.0
4,Lawrence Perez,Lawrence_Perez@yopmail.com,944-209-7087x238,93841 Ward Manors,-89,Male,Svalbard & Jan Mayen Islands,Silver,Materials and Chemicals,Bioplastics,...,3999,150,2023-09-15,Japan WH,Japan,Young-Moon,909-669-6532x7902,Turkey,2.57,3.0

# -----------------------------------------------------------

# get data from database in sql server

In [40]:
# import pandas as pd
# import pyodbc

# # Define your database connection parameters
# server = 'localhost'
# database = 'PFR_Data'
# username = 'yassine'
# password = '123@123'

# # Create a connection string
# connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# # Specify the number of rows to retrieve in each batch
# batch_size = 2000

# # Specify the file to store the last retrieved row number
# last_row_file = 'last_row.txt'

# # Read the last retrieved row number from the file or set it to 0 if the file doesn't exist
# try:
#     with open(last_row_file, 'r') as file:
#         last_row = int(file.read().strip())
# except FileNotFoundError:
#     last_row = 0

# # Calculate the starting row for the batch
# start_row = last_row + 1

# # Construct the SQL query to select the desired rows
# sql_query = f'SELECT * FROM (SELECT *, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS row_num FROM data) AS t WHERE row_num BETWEEN {start_row} AND {start_row + batch_size - 1}'

# # Establish a connection to the database
# connection = pyodbc.connect(connection_string)

# # Execute the query and fetch the data into a DataFrame
# dfdb = pd.read_sql_query(sql_query, connection)

# # Close the database connection
# connection.close()

# # Update the last retrieved row number in the file
# with open(last_row_file, 'w') as file:
#     file.write(str(start_row + batch_size - 1))

C:\Users\Youcode\AppData\Local\Temp\ipykernel_9128\3183493661.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdb = pd.read_sql_query(sql_query, connection)

In [3]:
dfdb.head()

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer,row_num
0,Christopher Richards,Christopher_Richards@youcode.ma,(402)458-3120,051 Jennifer Pines,29,Female,Madagascar,Gold,Food and Beverages,Organic Food,...,100,2023-08-08,Turkey WH,Turkey,"Ortiz, Gonzales and Velasquez",+1-369-876-1895x9049,France,1.26,2,4001
1,Brittany Roberts,Brittany_Roberts@maroc.ma,+1-999-675-5375x055,844 April Mission Apt. 504,-82,Male,Cocos (Keeling) Islands,Gold,Energy,Biomass,...,100,2023-08-08,Turkey WH,Turkey,Mcdonald-Castillo,936.468.9933x95213,France,1.44,3,4002
2,Lauren Gonzalez,Lauren_Gonzalez@hotmail.com,(970)750-5480,6172 Baker Points Suite 315,-23,Female,Armenia,Silver,Materials and Chemicals,Bioplastics,...,100,2023-08-08,Japan WH,Japan,Smith-Montgomery,(646)491-8558,USA,1.29,,4003
3,Gina Velasquez,Gina_Velasquez@outlook.fr,001-623-649-7597x6181,0868 Perez Shore,39,Male,Guyana,Bronze,Materials and Chemicals,Bioplastics,...,100,2023-08-08,Turkey WH,Turkey,Davis Ltd,001-909-461-4215,Turkey,4.32,4,4004
4,Joseph York,Joseph_York@outlook.fr,807-877-8589,1725 Susan Avenue Apt. 202,-85,Female,Netherlands Antilles,Gold,Materials and Chemicals,Biodegradable Packaging,...,100,2023-08-08,Turkey WH,Turkey,Monroe-Schneider,8795246315,Turkey,4.41,3,4005

# get the data from the json files

In [4]:
# Get the current date in the format you specified
date_now = datetime.now().strftime("%Y%m%d")
file_name = f"C:\\Users\\Youcode\\Desktop\\descktop\\PFR\\data\\raw\\ecom_data_{date_now}.json"

# Read the JSON file using pandas
dfjson = pd.read_json(file_name, lines=True)

In [5]:
dfjson.head()

,Customer_Name,Email,Phone,Adresse,Age,Gender,Location,Customer_Segment,Category,Subcategory,...,StockLevel,Restock_Threshold,Last_Restock_Date,Warehouse_Name,Location_warehouse,Supplier_Name,Supplier_Phone,Location_Supplier,Quality_Score,rating_customer
0,Kelly Hodge,Kelly_Hodge@hotmail.com,(226)509-0541x80191,41342 Mccormick Ford Suite 125,19,Male,Palau,Gold,Energy,Biomass,...,3996,150,2023-09-15,Turkey WH,Turkey,Hernandez-Ponce,(306)248-2089x81828,China,4.28,4
1,Michael Moore,Michael_Moore@gmail.com,001-796-511-3541x2675,46570 Kyle Mount,63,Female,Cuba,Bronze,Materials and Chemicals,Biodegradable Packaging,...,4008,150,2023-09-15,China WH,China,"Wiley, Jimenez and Howard",3338789328,Colombia,1.46,3
2,Daniel Taylor,Daniel_Taylor@maroc.ma,893.368.6504x97324,74022 Kelly Road,-85,Female,Poland,Gold,Energy,Biofuels,...,3991,150,2023-09-15,Japan WH,Japan,Miller PLC,946-461-7242x3170,Turkey,3.08,3
3,Bradley Cuevas,Bradley_Cuevas@yopmail.com,(976)964-3010,689 Michael Cape,18,Male,Yemen,Silver,Food and Beverages,Plant-Based Meat Alternatives,...,4004,150,2023-09-15,China WH,China,Francis Ltd,685.805.9505x323,USA,2.01,2
4,Ana Simpson,Ana_Simpson@youcode.ma,001-777-610-7944x5428,4997 Joyce Mission Apt. 776,-65,Male,Cambodia,Bronze,Food and Beverages,Plant-Based Meat Alternatives,...,4005,150,2023-09-15,Japan WH,Japan,Collins-Obrien,001-277-587-8979x683,USA,1.97,3

------------------------------------------------------------

# merge dataframes

In [43]:
dfdb = dfdb.drop("row_num", axis=1)

In [6]:
dfapi = dfapi.rename(columns={"Payment": "Payement"})

In [7]:
dfjson = dfjson.rename(columns={"Payment": "Payement"})

In [8]:
dfapi = dfjson.rename(columns={"Shipping Costs": "Shipping_Costs"})

In [9]:
dfjson = dfjson.rename(columns={"Shipping Costs": "Shipping_Costs"})

In [10]:
df = pd.concat([dfapi, dfdb, dfjson], ignore_index=True)

In [11]:
# Valeur absolue dans les colonnes Age et Quantity
df['Age'] = df['Age'].abs()
df['Quantity'] = df['Quantity'].abs()

In [12]:
# Remplacer les valeurs nulles dans la colonne rating_customer par 0
df['rating_customer'].fillna(0, inplace=True)

In [13]:
# Supprimer les lignes où la valeur dans la colonne Quantity est égale à 0
df = df[df['Quantity'] != 0]

In [60]:
# Sauvegarder le nouveau dataset
# df.to_csv('data_transformed.csv', index=False)

In [14]:
# import pandas as pd
from cryptography.fernet import Fernet
import base64
from cryptography.hazmat.primitives import hashes
from cryptography.hazmat.primitives.kdf.pbkdf2 import PBKDF2HMAC

# Encrypt a value using the key
def encrypt_value(value, key):
    encrypted_value = key.encrypt(value.encode())
    return encrypted_value.decode()

# Encrypt the columns
def encrypt_columns(df, columns, key):
    for column in columns:
        df[column] = df[column].apply(lambda x: encrypt_value(str(x), key))
    return df

# Decrypt a value using the key
def decrypt_value(value, key):
    decrypted_value = key.decrypt(value.encode())
    return decrypted_value.decode()

# Decrypt the columns
def decrypt_columns(df, columns, key):
    for column in columns:
        df[column] = df[column].apply(lambda x: decrypt_value(x, key))
    return df

# Example usage
password = "123@123"
salt = b'\x07\xd1\x85\xeb\x1b\xad`a\xd5\xdd\x11\x11\x9c\x0e\xb0'

# Derive the key from the password and salt
kdf = PBKDF2HMAC(
    algorithm=hashes.SHA256(),
    length=32,
    salt=salt,
    iterations=100000
)
key = base64.urlsafe_b64encode(kdf.derive(password.encode()))

# Create an instance of the Fernet cipher using the key
cipher_suite = Fernet(key)

# Encrypt the columns
columns_to_encrypt = ['Customer_Name','Email', 'Phone', 'Adresse']
encrypted_df = encrypt_columns(df, columns_to_encrypt, cipher_suite)

In [22]:
# # Decrypt the columns
# def decrypt_dataframe(df, columns, key):
#     decrypted_df = df.copy()
#     for column in columns:
#         decrypted_df[column] = decrypted_df[column].apply(lambda x: decrypt_value(x, key))
#     return decrypted_df

# decrypted_df = decrypt_dataframe(encrypted_df, columns_to_encrypt, cipher_suite)

# df = decrypted_df

In [15]:
df.columns

Index(['Customer_Name', 'Email', 'Phone', 'Adresse', 'Age', 'Gender',
       'Location', 'Customer_Segment', 'Category', 'Subcategory', 'Product',
       'Price', 'Quantity', 'Weight', 'Date_Order', 'Tax_5_percent',
       'Payement', 'Shipper', 'Shipping_Method', 'Shipping_Costs',
       'Inventory_id', 'StockLevel', 'Restock_Threshold', 'Last_Restock_Date',
       'Warehouse_Name', 'Location_warehouse', 'Supplier_Name',
       'Supplier_Phone', 'Location_Supplier', 'Quality_Score',
       'rating_customer'],
      dtype='object')

# Loading datafram into my database in sql server

In [27]:
import pandas as pd
import pyodbc

# Define your database connection parameters
server = 'localhost'
database = 'PFR_Data'
username = 'yassine'
password = '123@123'

# Create a connection string
conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};'

# Connect to the database
conn = pyodbc.connect(conn_str)

# Create a cursor from the connection
cursor = conn.cursor()

In [30]:
# Insert data into Dim_Customer
cursor.executemany('INSERT INTO Dim_Customer (Customer_Name, Age, Gender, Location, Customer_Segment, Email, Phone, Adresse, Rating, Payement) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
                   df[['Customer_Name', 'Age', 'Gender', 'Location', 'Customer_Segment', 'Email', 'Phone', 'Adresse', 'rating_customer', 'Payement']].values.tolist())

# Insert data into Dim_Product
cursor.executemany('INSERT INTO Dim_Product (Product, Category, Subcategory) VALUES (?, ?, ?)',
                   df[['Product', 'Category', 'Subcategory']].values.tolist())

# Insert data into Dim_Shipping
cursor.executemany('INSERT INTO Dim_Shipping (Shipping_Method, Shipper, Shipping_Costs) VALUES (?, ?, ?)',
                   df[['Shipping_Method', 'Shipper', 'Shipping_Costs']].values.tolist())

# Insert data into Dim_Date
cursor.executemany('INSERT INTO Dim_Date (Date) VALUES (?)',
                   df[['Date_Order']].values.tolist())

# Insert data into Dim_Warehouse
cursor.executemany('INSERT INTO Dim_Warehouse (Warhouse_Name, Location_warehouse) VALUES (?, ?)',
                   df[['Warehouse_Name', 'Location_warehouse']].values.tolist())

# Insert data into Dim_Supplier
cursor.executemany('INSERT INTO Dim_Supplier (Location_Supplier, Supplier_Name, Supplier_Phone, Quality_Score) VALUES (?, ?, ?, ?)',
                   df[['Location_Supplier', 'Supplier_Name', 'Supplier_Phone', 'Quality_Score']].values.tolist())

In [ ]:
# Insert data into Fact_Sales
cursor.executemany('INSERT INTO Fact_Sales (Id_Date_Order, Id_Product, Id_Shipping, Price, Quantity, Weight, Tax_5_percent) VALUES (?, ?, ?, ?, ?, ?, ?)',
                   df[['Date_Order', 'Product', 'Shipping_Method', 'Price', 'Quantity', 'Weight', 'Tax_5_percent']].values.tolist())

# Insert data into Fact_Inventory
cursor.executemany('INSERT INTO Fact_Inventory (Id_Supplier, Id_Restock_Date, Id_Product, Id_Warehouse, StockLevel, Restock_Threshold) VALUES (?, ?, ?, ?, ?, ?)',
                   df[['Supplier_Name', 'Date_Order', 'Product', 'Warehouse_Name', 'StockLevel', 'Restock_Threshold']].values.tolist())

In [ ]:
# Commit the changes and close the connection
conn.commit()
conn.close()